* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: Bahnschrift;
    background-color: lightgray;
}

.header {
    width:100%;
    height: 110px;
    background-color: #161616;
}

    .header img {
        height: 90px;
        margin: 10px;
        margin-bottom: 0;
    }

    .header label {
        font-size: 20pt;
        color: white;
    }

    .header .left {
        float: left;
        height: 100%;
        width: 400px;
    }

    .header .right {
        float: right;
        width: 400px;
        height: 100%;
        text-align: right;
        padding-right: 40px;
    }

.admin-controls {
    font-size: 18pt;
    margin: 40px;
    margin-right: 0;
    color: #D5B884;
    text-align: right;
    padding-right: 40px;
}

.lbl_admin {
    color: #D5B884;
}

.admin-controls a {
    text-decoration: none;
    color: #D5B884;
    margin-left: 10px;
}

.logo-title {
    display: flex;
    align-items: center;
}

/*.sidebar {
    height: 839px;
    width: 150px;
    background-color: #161616;
}*/

.sidebar {
    width: 150px;
    background-color: #161616;
    float: left;
    height: 100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background: #D4B783;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    z-index: 100;
}

.buttons input {
    width: 250px;
    margin-right: 35px;
    border: 1px solid black;
    background-color: black;
    color: #D5B884;
    border-radius: 15px;
    margin-bottom:10px;
    height: 50px;
    font-size: 16pt;
}

    .buttons input:hover {
        background-color: white;
        color: black;
        border: 1px solid white;
        cursor: pointer;
    }

.content {
    padding: 20px;
}

.dashboard {
    width: 100%;
}

.member-count-imgsvg {
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    width: 400px;
    height: 90px;
    color: black;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
}

    .member-count-imgsvg span {
        text-align: left;
        font-size: 20pt;
        margin-top: 30px;
        margin-left: 15px;
    }

    .member-count-imgsvg img {
        width: 30px;
        border: 1px solid #e9e9e9;
        padding: 10px;
        background-color: #e9e9e9;
        border-radius: 10px;
        margin-left: 30px;
        margin-top: 20px;
    }

    .member-count-imgsvg .mc {
        text-shadow: 0px 2px 15px #000000;
        color: black;
    }

.buttons-container {
    width: 100%;
    height: 150px;
}

    .buttons-container input {
        margin: 10px;
    }


.listbutton {
    padding: 4px;
    color: white;
    background-color: black;
    text-decoration: none;
    margin: 15px;
}

.control-bar {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 17pt;
}

    .control-bar select {
        width: 220px;
        height: 25px;
    }

.textbox {
    width: 218px;
    height: 25px;
}

.left {
    width: 700px;
    float: left;
    height: 100%;
}

.right {
    width: 400px;
    float: left;
    height: 100%;
}

.imgArea {
    width: 450px;
    height: 100%;
    float: left;
    margin-left: 125px;
}

.checkbox input {
    width: 40px;
    height: 20px;
}

.table {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    border: 1px solid gray;
}

    .table tr {
        text-align: center;
        font-size: 15pt;
        border: 1px solid gray;
    }

        .table tr th {
            font-size: 16pt;
            border: 1px solid gray;
        }

        .table tr td {
            border: 1px solid gray;
            height: 40px;
            padding: 5px;
        }

.edit {
    background-color: orange;
}

.delete {
    background-color: red;
    color: white;
}

.label {
    font-size: 17pt;
}

.panel {
    width: 250px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 20px;
    margin-left: 0;
}

.no {
    background-color: red;
    border: 1px solid red;
}

.addButton {
    margin: 10px;
    text-align: right;
}

.headerusers {
    width: 100%;
    height: 50px;
    background-color: #D4B783;
    padding: 0px !important;
    margin: 0px !important;
}

#main .ustkisim {
    padding: 0 !important;
}

.hu-left {
    float: left;
    height: 100%;
    width: 900px;
    transition: all 0.3s ease;
}

.hu-right {
    float: right;
    border-bottom: none;
    height: 100%;
    width: 965px;
    transition: all 0.3s ease-in-out;
}
.activated {
    background-color: #192A56;
    color:white;
}
.disabled {
    background-color: #D4B783;
    color:black;
}
.headerusers a {
    text-align: center;
    padding-top: 10px;
}

.headerusers {
    text-align: center;
    padding-top: 10px;
}

    .headerusers a {
        display: block;
        text-decoration: none;
        font-size: 22px;
        font-weight:500;
        color: inherit;
    }

.hu-right:hover {
    cursor: pointer;
    background-color: #192A56;
    color: white;
}

    .hu-right:hover ~ .hu-left {
        background-color: #D4B783;
        color: black;
    }
    .hu-left:hover {
        cursor:pointer;
        background-color:#192a56;
        color:white;
    }
    .hu-left:hover ~ .hu-right {
        background-color: #D4B783;
        color:black;
    }
