* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
    background-color: dimgray;

}

.tasiyici {
    width: 1200px;
    margin: 300px 750px;
}

.loginBox {
    width: 350px;
    border: 1px solid white;
    background-color: white;
    border-radius: 10%;
    padding:10px;
    box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
}

    .loginBox h3 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 9px;
        font-size: 25px;
    }

    .loginBox h4 {
        text-align: left;
        font-size: 12pt;
        margin-left: 9px;
        color: gray;
    }
    .loginBox span {
        display:flex;
        text-align:center;
        justify-content:center;
        font-size:12pt;
        margin-left:9px;
    }


.textbox {
    margin-left: 50px;
    margin-top: 20px;
    align-content: center;
}

    .textbox input {
        color: black;
        border: 1px solid gray;
        width: 250px;
        height: 35px;
        border-radius: 10px;
        margin-top: 10px;
        text-align:center;
    }

    .textbox label {
        font-size: 13pt;
    }

.buton input {
    width: 180px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 30px 80px;
    font-size: 15pt;
 /*   font-weight: 700;*/
}
.panel {
    border: 1px solid silver;
    padding:10px;
    border-radius:30px;
    background-color:lightgray;
}


