* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #111111;
    color: white;
}

.header {
    width: 100%;
    height: 230px;
    position: relative;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    opacity: 0.6;
    z-index: -1;
}

    .header-background img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 1;
    }

        .header-background img.bg-hover {
            opacity: 0;
        }

.bg-hover img {
    object-fit: none;
}

.header:hover .header-background img.bg-default {
    opacity: 0;
}


.header:hover .header-background img.bg-hover {
    opacity: 1;
}

.header-background::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #111111 5%, transparent 100%);
    z-index: 2;
}

.header-content {
    width: 1170px;
    height: 170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

    .logo-area img {
        width: 150px;
        height: 120px;
        margin-right: -10px;
    }

    .logo-area h1 {
        color: white;
    }

.user-controls a,
.user-controls span {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 17pt;
    font-weight: 800;
}

    .user-controls a:hover {
        color: #D3B782;
        text-decoration: underline;
    }

.navbar {
    width: 1130px;
    height: 60px;
    margin: auto;
    padding-right: 5px;
    display: flex;
}

.container {
    width: 1170px;
    margin: 20px auto;
    min-height: 500px;
}


.navbar-nav {
    font-size: 15pt;
    text-align: center;
}


    .navbar-nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }


    .navbar-nav > ul > li {
        float: left;
        position: relative;
    }

    .navbar-nav li a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0px 20px;
    }

    .navbar-nav > ul > li > a:hover {
        text-decoration: underline;
    }


.bottom-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #222222;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

    .bottom-menu li {
        float: none;
    }

        .bottom-menu li a {
            color: white;
            padding: 12px 16px;
        }

.ddl-container:hover .bottom-menu {
    display: block;
}

.ddl-container a {
    color: dimgray;
    cursor: pointer;
}

    .ddl-container a:hover {
        color: #D3B782;
    }

html, body {
    height: 100%;
}

#form1 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}


.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: #171717;
    padding: 30px 0;
    border-top: 3px solid #D3B782;
}

    .footer footer {
        width: 1170px;
        margin: 0 auto;
        text-align: center;
    }

.footer-texts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    text-align: left;
}

.footer-atwebsite-text {
    height: 100%;
    width: 400px;
}

.footer-technology-text {
    height: 100%;
    width: 400px;
}

.footer-texts h2 {
    color: #D3B782;
    margin-bottom: 4px;
}

.footer-texts p {
    color: white;
    font-size: 14pt;
    line-height: 1;
}

.footer-till-lindemann:hover {
    filter: grayscale(0);
}

.footer-till-lindemann {
    transition: all .5s;
    min-height: 200px;
    width: 300px;
    filter: grayscale(100%);
}

    .footer-till-lindemann img {
        width: 100%;
        height: auto;
    }

.search-box {
    padding: 15px;
    border: 2px solid #D3B782;
    border-radius: 20px;
    background-color: #222222;
    color: white;
    width: 300px;
    height: 50px;
    margin-top: -10px;
    align-self: flex-start;
}

.border-above-article {
    border-top: 3px solid #D3B782;
    margin-top: 20px;
    padding-top: 20px;
}

.article {
    display: flex;
    align-items: flex-start; /* Üstten hizalama */
    gap: 32px;
    margin-bottom: 32px;
}

.hoi4gng {
    color: #D3B782;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 27px;
    font-family: Bahnschrift;
    font-weight: 600;
    transition: all 0.5s ease;
}

    .hoi4gng:hover {
        color: #F0F8FF;
        transition: all 0.5s ease;
    }

.article p {
    color: white;
    font-size: 14pt;
    line-height: 1.6;
}

.article-img-col {
    flex: 0 0 160px;
    display: flex;
    align-items: flex-start; /* Üstten hizalama */
    justify-content: center;
}

.article-img {
    width: 460px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
    border-bottom: 5px solid #D3B782;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    background: #222;
    display: block;
}

.article-content-col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.loginBox {
    width: 100%;
    height: 600px;
    border: 1px solid #333333;
    border-radius: 10%;
    box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 5px 90px 0px rgba(0,0,0,0.75);
}

    .loginBox h3 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 5px;
        padding: 40px;
        color: white;
        font-size: 30px;
        padding-bottom: 0px;
        padding-left: 102px;
    }

    .loginBox h4 {
        text-align: left;
        font-size: 15pt;
        padding: 40px;
        padding-top: 2px;
        margin-left: 0px;
        color: gray;
        padding-left: 102px;
    }

    .loginBox span {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 12pt;
        margin-left: 9px;
    }


.textbox {
    margin-left: 102px;
    margin-top: 20px;
    align-content: center;
}

    .textbox input {
        color: black;
        border: 1px solid gray;
        width: 400px;
        height: 35px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .textbox label {
        font-size: 17pt;
    }

.buton input {
    width: 180px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #333333;
    margin: 30px 102px;
    font-size: 15pt;
    /*   font-weight: 700;*/
}

.panel {
    border: 1px solid silver;
    padding: 10px;
    border-radius: 30px;
    background-color: lightgray;
}

.moddedtb {
    font-size: 14pt;
    padding: 10px;
}



.arleft {
    float: left;
    font-size: 13pt;
    color: white;
}

.arright {
    float: right;
    font-size: 13pt;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}


.info-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.arright img {
    width: 30px;
    height: 30px;
}


.vote-button-controls {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .vote-button-controls span {
        font-size: 16pt;
        color: white;
        align-self: center;
    }

    .vote-button-controls input {
        width: 30px;
        height: 30px;
    }

.view-article-headline {
}

.view-article-bottomline {
    width: 100%;
    border-bottom: 3px solid #D3B782;
}

.viewArticle-title {
    margin-bottom: 5px;
    color: #D3B782;
    font-size: 27pt;
    font-weight: 600;
}

.viewArticle-content {
    font-size: 17pt;
}

.viewArticle-img {
    width: 100%;
    height: 600px;
    border-bottom: 5px solid #D3B782;
}

.info-group span {
    font-weight: 600;
}

.tour-body {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.tour-img {
}

.tour-details {
    flex: 1;
}

.tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}


.tour-container {
    width: 900px;
}

.tour-header {
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
}

    .tour-header p {
        color: #D3B782;
        font-size: 19pt;
        font-weight: 600;
        padding-left: 10px;
    }

.tour-details {
    flex: 1;
    margin-top: 80px;
}

.member-details {
    flex: 1;
}

.tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

    .tour-info span {
        color: #999 !important;
    }

.tour-container {
    width: 900px;
}

.tour-header {
    background-color: #1b1b1b;
    width: 100%;
    padding: 10px;
    margin: 20px;
    margin-left: 0;
}

    .tour-header p {
        color: #D3B782;
        font-size: 19pt;
        font-weight: 600;
        padding-left: 10px;
    }

.tour-segment-list {
    width: 100%;
    margin-bottom: 30px;
}

    .tour-segment-list h2 {
        font-size: 18pt;
    }

.segment-description {
    font-size: 10pt;
    color: #999;
    margin-bottom: 20px;
}

.segment-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    border-bottom: 1px solid #2a2a2a;
}

    .segment-row:first-of-type {
        border-top: 1px solid #2a2a2a;
    }

.segment-title {
    color: #D3B782;
    text-decoration: none;
    font-weight: 600;
    flex: 2;
}

    .segment-title:hover {
        text-decoration: underline;
    }

.segment-date {
    color: #ccc;
    flex: 2;
    text-align: left;
    padding-left: 20px;
}

.segment-count {
    color: #ccc;
    flex: 1;
    text-align: right;
}

.member-img img {
    width: 560px;
    height: 350px;
    margin-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.member-img p {
    font-size: 15pt;
    font-style: italic;
}

    .member-img p a {
        text-decoration: none;
        color: #D3B782;
        transition: 0.3s ease-in-out;
    }

        .member-img p a:hover {
            text-decoration: underline;
            transition: 0.3s ease-in-out;
        }

.member-body {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.members-of {
    margin: 10px;
}

    .members-of a {
        text-decoration: none;
        color: #D3B782;
    }

        .members-of a:hover {
            color: #555555;
            text-decoration: underline;
        }

.member-detail {
    width: 600px;
    height: 600px;
}

hr {
    color: #1F1F1F;
}

.member-biography-header label {
    margin: 10px 0;
    color: #D3B782;
    font-size: 24pt;
}

.member-biography-text-header {
    margin: 10px 0;
}

    .member-biography-text-header label {
        color: #d1a95c;
        font-size: 20pt;
        font-weight: 600;
    }

.member-biography-text {
    font-weight: 400;
    font-size: 15pt;
    margin: 5px;
}

    .member-biography-text a {
        text-decoration: none;
        color: #D3B782;
    }

        .member-biography-text a:hover {
            text-decoration: underline;
        }   

.member-biography {
    margin: 0;
}

